body{
    font-family: "Poppins", sans-serif;
    background-color: #3c1405;
}
.container{
    max-width: 100%;
    margin: 0 20px;
}
header {
    padding: 160px 0px;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url("background.jpeg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
header h1{
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5px;}
header h2{
font-size: 80px;
font-weight: 700;
line-height: 90px;
margin-top: 50px;
margin-bottom: 15px;
}
header h3{
font-size: 40px;
font-weight: 400;
line-height: 60px;
margin-top: 0;
}
header button{
   
padding: 16px 32px 16px 32px;
 border-radius: 30px;

font-size: 14px;
font-weight: 900;
line-height: 21px;
letter-spacing: 3px;
background-color: white;
border: none;
cursor: pointer;
}
header button a{
    text-decoration: none;
    color: black;
}

footer{
    background-image: linear-gradient(
        rgba(46, 23, 19, 0.9),
        rgba(46, 23, 19, 0.9)
      ),
      url("footer.jpeg");
  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 80px;
}
.grid {
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-column-gap: 25px;
  }
  
footer ul{
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
footer a, p{
    opacity: 0.7;
    color: white;
    
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
  }
  .img-responsive {
    max-width: 100%;
    margin-top: 60px;
  }
main {
    margin: 80px;
}    
main h2{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 5px;
    text-align: left;
    color: grey;

    }
main h3{
   
font-size: 30px;
font-weight: 700;

text-align: left;

}
.secondary{
    background-color: #481706;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 100px;
}
.secondary h2{
    text-align: center;
    color: grey;
   
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 5px;
margin-bottom: 0;
padding-top: 50px;

}
.secondary h3{
 color: white;
font-size: 30px;
font-weight: 700;
line-height: 72px;
text-align: center;
margin-top: 0;
margin-bottom: 20px;

}
.secondary .card{
    color: white;
}
.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px;
  }

.secondary .grid-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.secondary .img-responsive{
    margin-top: 0px;
    
}
.secondary .card-body {
    padding: 30px;
    padding-top: 20px;
  }
.secondary .card-body h4{
    
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-align: left;
margin-top: 0;
margin-bottom: 0;

}
.secondary .card-body h5{
   margin: 0;
}


.secondary .card{
background-color: #54352a;
}
.secondary  .card-body button{
    padding: 16px 10%;
   
 border-radius: 30px;
opacity: 0.4 ;

background-color: white;
border: none;
cursor: pointer;

text-transform: uppercase;
transition: all 200ms ease-in-out;
}
.secondary  .card-body button:hover{
    opacity: 1;
}
.secondary .card-footer{
    display: block;
text-align: left;
}
.secondary .btn{
    color: black;
    text-decoration: none;
    font-size: 14px;
font-weight: 900;
line-height: 21px;
letter-spacing: 3px;
}


.secondary .embed{
    width: 100%;
    aspect-ratio: 1/1.25;
}

#tertiary{
    background-color: #3c1405;
}

#tertiary .grid-3-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
#tertiary .card{
    background-color: #3c1405;
}






@media(max-width:960px){
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 12px;
        line-height: normal;

    }
    header h2{
        font-size: 30px;
        line-height: 30px;
    }
    header h3{
        font-size: 20px;
        line-height: normal;

    }
    header button{
        font-size: 10px;
        padding: 6px 15px 6px 15px;

    }
    .grid{
        grid-template-columns: 1fr;
        font-size: 12px;
        padding: 20px 10px;

    }
    main h3{
        font-size: 22px;
       
    }
    main{
        margin:0px;
    }
    .img-responsive{
        margin-bottom: 0px;
    }
    main h2{
        margin: 0;
        padding: 0;
    }
    .grid-2-columns {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .secondary  .card-body button{
        padding: 6px 20%;
    }
    .secondary .btn{
        font-size: 8px;

    }
    .secondary h2{
        padding: 15px;
    }
    .secondary h3{
        font-size: 22px;
        margin-bottom: 0px;
    }
    .secondary .card-body h4{
        text-align: center;
    }
    .secondary{
        padding-left: 10px;
        padding-right: 10px;
    }
    .secondary .card-footer{
        display: block;
        text-align: center;
        margin: 0 20px;

    }
    .secondary img{
        display: none;
    }
    .secondary .embed{
        aspect-ratio: 16/9;
    }
    .secondary .grid-header{
        grid-template-columns: 1fr;
    }
    #tertiary .grid-3-columns{
        grid-template-columns: 1fr;
    }
    }